<style>
    .field {
        display: flex;
    }

    .field > label {
        width: 100px;
    }
</style>

<p class="title">编辑零件类型 <i>&#8593;</i></p>
<hr style="border: 1px solid #999;margin-top: 0;padding-top: 0;margin-left: 148px;"/>

<%= render 'form' %>

<div style="display: flex;">
  <%= link_to 'Show', @part_type, :class => 'btn btn-primary', :style => 'margin:20px;width:200px;color:white;padding:10px;' %>
  <%= link_to 'Back', part_types_path, :class => 'btn btn-primary', :style => 'margin:20px;width:200px;color:white;padding:10px;' %>
</div>