<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PLCLightWPFTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PLCLightWPFTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <PLCLightWPFTest.Properties.Settings>
            <setting name="Board" serializeAs="String">
                <value />
            </setting>
            <setting name="Workplace" serializeAs="String">
                <value />
            </setting>
            <setting name="Line" serializeAs="String">
                <value />
            </setting>
        </PLCLightWPFTest.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PLCLightWPFTest.Properties.Settings>
            <setting name="IsLocalImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FTPServer" serializeAs="String">
                <value>http://127.0.0.1:9001/aw/images/</value>
            </setting>
            <setting name="lepsDb" serializeAs="String">
                <value>Data Source=svp37001.p37.leoni.local;Initial Catalog=LEPS;Persist Security Info=True;User ID=ASS_user;Password=ass_user;</value>
            </setting>
        </PLCLightWPFTest.Properties.Settings>
    </applicationSettings>
</configuration>