<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PLCLightWPFTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PLCLightWPFTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="PLCLightWPFTest.Properties.Settings.AutoWorkConnectionString"
        connectionString="Data Source=Charlot-PC\MSSQLSERVER20082;Initial Catalog=AutoWork;Persist Security Info=True;User ID=sa;Password=123456@"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <PLCLightWPFTest.Properties.Settings>
            <setting name="Board" serializeAs="String">
                <value />
            </setting>
            <setting name="Workplace" serializeAs="String">
                <value />
            </setting>
            <setting name="Line" serializeAs="String">
                <value />
            </setting>
            <!--<setting name="canServerIP" serializeAs="String">
                <value>192.168.0.100</value>
            </setting>
            <setting name="canServerPort" serializeAs="String">
                <value>8001</value>
            </setting>-->
        <setting name="canServerIP" serializeAs="String">
                <value>10.180.168.5</value>
            </setting>
            <setting name="canServerPort" serializeAs="String">
                <value>6001</value>
            </setting>
        </PLCLightWPFTest.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PLCLightWPFTest.Properties.Settings>
            <setting name="IsLocalImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FTPServer" serializeAs="String">
                <value>http://127.0.0.1:9001/aw/images/</value>
            </setting>
            <setting name="lepsDb" serializeAs="String">
                <value>Data Source=svp37001.p37.leoni.local;Initial Catalog=LEPS;Persist Security Info=True;User ID=ASS_user;Password=ass_user;</value>
            </setting>
            <setting name="awDb" serializeAs="String">
                <value>Data Source=SVCNSKSK06;Initial Catalog=AutoWork;Persist Security Info=True;User ID=sa;Password=Leoni2000</value>
            </setting>
        </PLCLightWPFTest.Properties.Settings>
    </applicationSettings>
</configuration>