<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PLCLightWPFTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <PLCLightWPFTest.Properties.Settings>
            <setting name="Board" serializeAs="String">
                <value>TM101</value>
            </setting>
            <setting name="Line" serializeAs="String">
                <value>ASSEN11</value>
            </setting>
            <setting name="Workplace" serializeAs="String">
                <value>ASSEN11_03</value>
            </setting>
        </PLCLightWPFTest.Properties.Settings>
    </userSettings>
</configuration>
