<style>
    .font-transition {
        font-size: 5em;
        text-align: center;
        margin: 300px 0 0 0;
        animation: myfont 2s;
        animation-iteration-count: infinite;
        animation-delay: 2s;
    }

    @keyframes myfont {
        from {
            transform: rotateX(360deg);
        }
        to {
            transform: rotateX(-360deg);
        }
    }

</style>

<p class="title">欢迎界面</p>
<hr style="border: 1px solid #999;margin-top: 0;padding-top: 0;margin-left: 148px;"/>

<p class="font-transition">欢迎使用，神秘小车系统</p>

