<p class="title">编辑零件颜色<i>&#8593;</i></p>
<hr style="border: 1px solid #999;margin-top: 0;padding-top: 0;margin-left: 148px;"/>

<%= render 'form' %>

<%= link_to 'Show', @color, :class => 'btn btn-primary', :style => 'margin:20px;width:200px;color:white;padding:10px;' %> |
<%= link_to 'Back', colors_path, :class => 'btn btn-primary', :style => 'margin:20px;width:200px;color:white;padding:10px;' %>
