<style>
    .field {
        display: flex;
    }

    .field > label {
        width: 100px;
    }
</style>
<p class="title">新建颜色<i>&#8593;</i></p>
<hr style="border: 1px solid #999;margin-top: 0;padding-top: 0;margin-left: 148px;"/>

<%= render 'form' %>

<hr style="border-bottom: 2px solid #999;">
<%= link_to 'Back', colors_path, :class => 'btn btn-primary', :style => 'color:white;padding-top:10px;margin:10px 0 0 20px;width:200px;' %>

<script type="text/javascript" charset="utf-8">
    $('.LeftNav>li').children('a').children('h3').removeAttr('style');
    $('.LeftNav>li').children('a').children('h3').children('i').remove();

    $('.LeftNav>li')[5].children[0].children[0].style['color'] = 'red';

    $('<i class="glyphicon glyphicon-hand-left" style="margin-left: 10px;color:red;"></i>').appendTo($('.LeftNav>li')[5].children[0].children[0]).ready(function () {
    });
</script>

