<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnitTestProjectForAutoWork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UnitTestProjectForAutoWork.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="retryTimes" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="retryInterval" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="prepareTime" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>Data Source=Charlot-PC\MSSQLSERVER20082;Initial Catalog=AutoWork;Persist Security Info=True;User ID=sa;Password=123456@</value>
            </setting>
            <setting name="lepsdb" serializeAs="String">
                <value>Data Source=svp37001.p37.leoni.local;Initial Catalog=LEPS;Persist Security Info=True;User ID=ASS_user;Password=ass_user</value>
            </setting>
            <setting name="com" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="SingleWorkPlace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoteImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FTPServer" serializeAs="String">
                <value>http://10.180.168.5:9000/aw/images/</value>
            </setting>

          <setting name="LastLeps" serializeAs="String">
            <value />
          </setting>
          <setting name="SameWIColseTime" serializeAs="String">
            <value>2</value>
          </setting>
          <setting name="SameWIMsgWindowColor" serializeAs="String">
            <value>#FFFF00</value>
          </setting>
          <setting name="CanId" serializeAs="String">
            <value>1</value>
          </setting>
          <setting name="CanServerIP" serializeAs="String">
            <value>localhost</value>
          </setting>
          <setting name="CanServerPort" serializeAs="String">
            <value>6001</value>
          </setting>
          <setting name="IsShowSameWI" serializeAs="String">
            <value>False</value>
          </setting>
        </UnitTestProjectForAutoWork.Properties.Settings>
    </userSettings>
</configuration>