<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoWork.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AutoWork.MySettings.AutoWorkConnectionString" connectionString="Data Source=SVCNSKSK06;Initial Catalog=AutoWork;Persist Security Info=True;User ID=sa;Password=Leoni2000"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <AutoWork.MySettings>
            <setting name="com" serializeAs="String">
                <value>COM11</value>
            </setting>
            <setting name="retryTimes" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="retryInterval" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="prepareTime" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>Data Source=SVCNSKSK06;Initial Catalog=AutoWork;Persist Security Info=True;User ID=sa;Password=Leoni2000</value>
            </setting>
            <setting name="lepsdb" serializeAs="String">
                <value>Data Source=svp37001.p37.leoni.local;Initial Catalog=LEPS;Persist Security Info=True;User ID=ASS_user;Password=ass_user</value>
            </setting>
        </AutoWork.MySettings>
    </applicationSettings>
</configuration>
