<p class="title">系统设置 <i>&#8593;</i></p>
<hr style="border: 1px solid #999;margin-top: 0;padding-top: 0;margin-left: 148px;"/>

<div class="table-show" style="overflow: auto;">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Value</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @settings.each do |setting| %>
        <tr>
          <td><%= setting.name %></td>
          <td><%= setting.code %></td>
          <td><%= setting.value %></td>
          <td><%= link_to 'Edit', edit_setting_path(setting) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<script type="text/javascript" charset="utf-8">
    var ClientHeight = document.documentElement.clientHeight;
    //    $('.table-show').css({height: (ClientHeight - 400) + 'px'});
    $('.table-show').css({maxHeight: '700px'});

    $('.LeftNav>li').children('a').children('h3').removeAttr('style');
    $('.LeftNav>li').children('a').children('h3').children('i').remove();

    $('.LeftNav>li')[22].children[0].children[0].style['color'] = 'red';

    $('<i class="glyphicon glyphicon-hand-left" style="margin-left: 10px;color:red;"></i>').appendTo($('.LeftNav>li')[22].children[0].children[0]).ready(function () {
    });
</script>