<style>
    .field {
        display: flex;
    }

    .field > label {
        width: 150px;
    }
</style>

<p class="title">编辑零件位置 <i>&#8593;</i></p>
<hr style="border: 1px solid #999;margin-top: 0;padding-top: 0;margin-left: 148px;"/>

<%= render 'form' %>

<hr style="border-bottom: 2px solid #999;">

<%= link_to 'Show', @part_position, :class => 'btn btn-primary', :style => 'color:white;padding-top:10px;width:200px;margin:10px 0 0 20px;' %>
<%= link_to 'Back', part_positions_path, :class => 'btn btn-primary', :style => 'color:white;padding-top:10px;width:200px;margin:10px 0 0 20px;' %>
