<style>
    .field {
        display: flex;
    }

    .field > label {
        width: 100px;
    }
</style>

<p class="title">库存编辑 <i>&#8593;</i></p>
<hr style="border: 1px solid #999;margin-top: 0;padding-top: 0;margin-left: 148px;"/>

<%= render 'form' %>
<hr style="border: 1px solid #999;">

<div style="display: flex;">
  <%= link_to 'Show', @storage, :class => 'btn btn-primary', :style => 'width:200px;color:white;padding:10px;margin:20px 0 0 20px;' %>
  <%= link_to 'Back', storages_path, :class => 'btn btn-primary', :style => 'width:200px;color:white;padding:10px;margin:20px 0 0 20px;' %>
</div>
<script type="text/javascript" charset="utf-8">
    $('.LeftNav>li').children('a').children('h3').removeAttr('style');
    $('.LeftNav>li').children('a').children('h3').children('i').remove();

    $('.LeftNav>li')[17].children[0].children[0].style['color'] = 'red';

    $('<i class="glyphicon glyphicon-hand-left" style="margin-left: 10px;color:red;"></i>').appendTo($('.LeftNav>li')[17].children[0].children[0]).ready(function () {
    });
</script>