<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PLCLightCL.Properties.Settings.LEPSConnectionString"
            connectionString="Data Source=svp37001.p37.leoni.local;Initial Catalog=LEPS;Persist Security Info=True;User ID=ASS_user;Password=ass_user"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
